In [1]:
# import pandas library
import pandas as pd
import numpy as np

In [5]:
# \ need to be replaced with / in file path
path = "//elnt118/AGRDSRD/AT/ApplicationsData/HistoricalData/DriftStudyParticleSize/AllData_Stats.xlsx"

In [6]:
df = pd.read_excel(path)

In [7]:
df.head()

,Sample,Adjuvant 1,Adjuvant 2,Rep,Nozzle,Spray Pressure,Nozzle Position,Time of meas.,% Fines <150 um,RS,...,2060,2460,2940,3500,>150 and 150 bin match?,GF#,IsWater,IsEnlist,IsSample,Unnamed: 54
0,Water,NaN,NaN,2,AIXR11003,40 psi,TRAVERSE,2022-09-14 15:50:41,10.64,1.44,...,100.0,100.0,100.0,100,1,NaN,True,False,False,1
1,Water,NaN,NaN,1,AIXR11003,40 psi,TRAVERSE,2022-09-14 15:50:00,10.51,1.43,...,100.0,100.0,100.0,100,1,NaN,True,False,False,1
2,Water,NaN,NaN,2,XR11003,40 psi,TRAVERSE,2022-09-14 15:37:53,34.59,1.42,...,100.0,100.0,100.0,100,1,NaN,True,False,False,1
3,Water,NaN,NaN,1,XR11003,40 psi,TRAVERSE,2022-09-14 15:37:04,36.07,1.42,...,100.0,100.0,100.0,100,1,NaN,True,False,False,1
4,Water,NaN,NaN,3,XR110025,40 psi,TRAVERSE,2022-09-14 15:35:54,40.23,1.38,...,100.0,100.0,100.0,100,1,NaN,True,False,False,1

In [8]:
df.columns

Index([                 'Sample',              'Adjuvant 1',
                    'Adjuvant 2',                     'Rep',
                        'Nozzle',          'Spray Pressure',
               'Nozzle Position',           'Time of meas.',
               '% Fines <150 um',                      'RS',
                           'd10',                     'd50',
                           'd90',                 'Copt /%',
                 'Meas. Comment',               'Calc Mode',
                     'Size Bins',                       0.5,
                              18,                        22,
                              26,                        30,
                              36,                        44,
                              52,                        62,
                              74,                        86,
                             100,                       120,
                             150,                       180,
                             210,                       250,
                             300,                       360,
                             420,                       500,
                             600,                       720,
                             860,                      1020,
                            1220,                      1460,
                            1740,                      2060,
                            2460,                      2940,
                            3500, '>150 and 150 bin match?',
                           'GF#',                 'IsWater',
                      'IsEnlist',                'IsSample',
                   'Unnamed: 54'],
      dtype='object')

In [9]:
df.dtypes

Sample                             object
Adjuvant 1                         object
Adjuvant 2                         object
Rep                                object
Nozzle                             object
Spray Pressure                     object
Nozzle Position                    object
Time of meas.              datetime64[ns]
% Fines <150 um                   float64
RS                                float64
d10                               float64
d50                               float64
d90                               float64
Copt /%                           float64
Meas. Comment                      object
Calc Mode                          object
Size Bins                          object
0.5                                 int64
18                                float64
22                                float64
26                                float64
30                                float64
36                                float64
44                                float64
52                                float64
62                                float64
74                                float64
86                                float64
100                               float64
120                               float64
150                               float64
180                               float64
210                               float64
250                               float64
300                               float64
360                               float64
420                               float64
500                               float64
600                               float64
720                               float64
860                               float64
1020                              float64
1220                              float64
1460                              float64
1740                              float64
2060                              float64
2460                              float64
2940                              float64
3500                                int64
>150 and 150 bin match?             int64
GF#                                object
IsWater                              bool
IsEnlist                             bool
IsSample                             bool
Unnamed: 54                         int64
dtype: object

In [10]:
df.describe()

,% Fines <150 um,RS,d10,d50,d90,Copt /%,0.5,18,22,26,...,1020,1220,1460,1740,2060,2460,2940,3500,>150 and 150 bin match?,Unnamed: 54
count,11810.000000,11810.000000,11810.000000,11810.000000,11810.000000,11810.000000,11810.0,11810.000000,11810.000000,11810.000000,...,11810.000000,11810.000000,11810.000000,11810.000000,11810.000000,11810.000000,11810.000000,11810.0,11810.000000,11810.0
mean,25.020419,1.322029,126.035686,277.930952,484.783974,20.128044,0.0,0.459211,0.489908,0.547834,...,99.595532,99.889185,99.962029,99.975423,99.996385,99.999297,99.999995,100.0,0.987638,1.0
std,18.141674,1.391399,51.475878,125.755346,211.009527,824.634610,0.0,1.458826,1.482942,1.505957,...,2.174950,0.923540,0.424913,0.279170,0.114483,0.026571,0.000412,0.0,0.110502,0.0
min,0.550000,0.650000,5.500000,38.190000,6.510000,0.100000,0.0,0.000000,0.000000,0.000000,...,57.100000,68.750000,75.020000,84.520000,91.870000,97.730000,99.960000,100.0,0.000000,1.0
25%,7.382500,1.180000,85.250000,176.732500,320.622500,3.640000,0.0,0.000000,0.000000,0.000000,...,99.920000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.0,1.000000,1.0
50%,25.060000,1.280000,103.870000,216.225000,374.800000,4.440000,0.0,0.000000,0.000000,0.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.0,1.000000,1.0
75%,38.047500,1.360000,168.167500,394.125000,687.837500,5.560000,0.0,0.000000,0.070000,0.190000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.0,1.000000,1.0
max,99.870000,82.210000,438.470000,948.360000,1954.490000,44818.452199,0.0,34.970000,39.140000,42.690000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.0,1.000000,1.0

In [11]:
df.describe(include="all")

C:\Users\jo5117\AppData\Local\Temp/ipykernel_32532/1985922364.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(include="all")

,Sample,Adjuvant 1,Adjuvant 2,Rep,Nozzle,Spray Pressure,Nozzle Position,Time of meas.,% Fines <150 um,RS,...,2060,2460,2940,3500,>150 and 150 bin match?,GF#,IsWater,IsEnlist,IsSample,Unnamed: 54
count,11810,87,16,11435.0,11529,11731,11736,11810,11810.000000,11810.000000,...,11810.000000,11810.000000,11810.000000,11810.0,11810.000000,6171,11810,11810,11810,11810.0
unique,1977,2,2,30.0,109,52,1,11787,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,147,2,2,2,NaN
top,WATER,SC,EFW,1.0,XR8002,40 psi,TRAVERSE,2021-12-07 10:29:32,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,GF-3206,False,False,True,NaN
freq,1915,44,8,3487.0,3732,8788,11736,15,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,600,9505,11349,9044,NaN
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-29 16:33:51,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-02-20 13:14:23,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.020419,1.322029,...,99.996385,99.999297,99.999995,100.0,0.987638,NaN,NaN,NaN,NaN,1.0
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.141674,1.391399,...,0.114483,0.026571,0.000412,0.0,0.110502,NaN,NaN,NaN,NaN,0.0
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.550000,0.650000,...,91.870000,97.730000,99.960000,100.0,0.000000,NaN,NaN,NaN,NaN,1.0
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.382500,1.180000,...,100.000000,100.000000,100.000000,100.0,1.000000,NaN,NaN,NaN,NaN,1.0
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.060000,1.280000,...,100.000000,100.000000,100.000000,100.0,1.000000,NaN,NaN,NaN,NaN,1.0
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.047500,1.360000,...,100.000000,100.000000,100.000000,100.0,1.000000,NaN,NaN,NaN,NaN,1.0
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.870000,82.210000,...,100.000000,100.000000,100.000000,100.0,1.000000,NaN,NaN,NaN,NaN,1.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11810 entries, 0 to 11809
Data columns (total 55 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Sample                   11810 non-null  object
 1   Adjuvant 1               87 non-null     object
 2   Adjuvant 2               16 non-null     object
 3   Rep                      11435 non-null  object
 4   Nozzle                   11529 non-null  object
 5   Spray Pressure           11731 non-null  object
 6   Nozzle Position          11736 non-null  object
 7   Time of meas.            11810 non-null  datetime64[ns]
 8   % Fines <150 um          11810 non-null  float64
 9   RS                       11810 non-null  float64
 10  d10                      11810 non-null  float64
 11  d50                      11810 non-null  float64
 12  d90                      11810 non-null  float64
 13  Copt /%                  11810 non-null  float64
 14  Meas. Comment            1679 non-null   object
 15  Calc Mode                11810 non-null  object
 16  Size Bins                11810 non-null  object
 17  0.5                      11810 non-null  int64
 18  18                       11810 non-null  float64
 19  22                       11810 non-null  float64
 20  26                       11810 non-null  float64
 21  30                       11810 non-null  float64
 22  36                       11810 non-null  float64
 23  44                       11810 non-null  float64
 24  52                       11810 non-null  float64
 25  62                       11810 non-null  float64
 26  74                       11810 non-null  float64
 27  86                       11810 non-null  float64
 28  100                      11810 non-null  float64
 29  120                      11810 non-null  float64
 30  150                      11810 non-null  float64
 31  180                      11810 non-null  float64
 32  210                      11810 non-null  float64
 33  250                      11810 non-null  float64
 34  300                      11810 non-null  float64
 35  360                      11810 non-null  float64
 36  420                      11810 non-null  float64
 37  500                      11810 non-null  float64
 38  600                      11810 non-null  float64
 39  720                      11810 non-null  float64
 40  860                      11810 non-null  float64
 41  1020                     11810 non-null  float64
 42  1220                     11810 non-null  float64
 43  1460                     11810 non-null  float64
 44  1740                     11810 non-null  float64
 45  2060                     11810 non-null  float64
 46  2460                     11810 non-null  float64
 47  2940                     11810 non-null  float64
 48  3500                     11810 non-null  int64
 49  >150 and 150 bin match?  11810 non-null  int64
 50  GF#                      6171 non-null   object
 51  IsWater                  11810 non-null  bool
 52  IsEnlist                 11810 non-null  bool
 53  IsSample                 11810 non-null  bool
 54  Unnamed: 54              11810 non-null  int64
dtypes: bool(3), datetime64[ns](1), float64(36), int64(4), object(11)
memory usage: 4.7+ MB